<div class='row'>

    <div class='product-info col-md-4 well well-sm' *ngFor='let p of products'>
        <div class='card bg-light p-1 m-1'>
            <div class='card-body'>
            <img src='/assets/images/{{p.artId}}.jpg' class='img-fluid' [alt]='p.title'/>
            <div class='card-title'><strong>{{ p.category}} - {{p.size}}</strong></div>
            <div><strong>Price</strong>: {{ p.price | currency: 'CAD':'symbol'}}</div>
            <div><strong>Artist</strong>: {{ p.artist }}</div>
            <div><strong>Title</strong>: {{ p.title }}</div>
            <p><strong>Description</strong>: {{ p.artDescription}}</p>
            <button id='buyButton' class='btn btn-success btn-sm pull-right' (click)='addProduct(p)'>Buy</button>
        </div>            
        </div>
    </div>

</div>